.example-card {
    max-width: 500px;
    min-width: 500px;
    background-color: gainsboro;
}

.global{
    display:inline-block;
}

.example-card:hover {
    cursor: pointer;
    background-color: rgb(131, 127, 127);
}

.example-header-image {
    background-image: url('assets/img/manufacturer.svg');
    background-size: cover;
}
.company-name{
    text-align: left;
}

.example-spacer {
    flex: 1 1 auto;
}

.button-delete:hover{
    cursor: pointer;
    background-color: rgb(129, 9, 9);
    padding: 8px 4px;
    display: inline-block;
}

.example-icon {
    padding: 0 14px;
}