.headerToolbar{
    background-color: rgb(0, 0, 0);
}

.toolbar-title{
    color: blanchedalmond;
    font-size: 150%;
    padding: 15px;
}

.toolbar-title:hover{
    color: rgb(238, 207, 161);
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

.add-link{
    color: blanchedalmond;
    font-size: 150%;
    padding: 15px;
}

.add-link:hover{
    color: rgb(238, 207, 161);
    cursor: pointer;
}