<div *ngIf="company" class="container">
  <p class="id-company">Id: {{ idBase }}</p>
  <h1>Update Company:</h1>

  <form [formGroup]="modelForm">

    <div class="form-group">
      <label for="name">Name:
        <input type="text" class="form-control" id="name" [value] ="company.name" formControlName="name">
      </label>
    </div>

    <div class="Bouttons">
      <button [disabled]="!modelForm.valid" (click)="updateCompany()">Update</button>
      <button routerLink="/companies">Cancel</button>
    </div>  
  </form>

</div>
